<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>OECD_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ListJSP</servlet-name>
  	<jsp-file>/list/index_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListJSP</servlet-name>
  	<url-pattern>/search/index_list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CartJSP</servlet-name>
  	<jsp-file>/cart/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CartJSP</servlet-name>
  	<url-pattern>/cart/retrieving_list</url-pattern>
  </servlet-mapping>
  <error-page>
  	<error-code>404</error-code>
	<location>/WEB-INF/error_pages/404.jsp</location>
  </error-page>
</web-app>