@font-face{
	font-family: mainFont;
	src:url("/oecd/fonts/NotoSansTC-Regular.otf");
}
a{text-decoration:none; color: black;}
a:hover{text-decoration:underline;opacity: 0.5;}
h1.title{font-size: 1.8em;}
h1{margin: 5px 0;color: blue;}
h2{color: #800000;}
p.error{text-align: center;}
p.limit{color: red;}
form.refine, span.refine{
	background-color: blue;
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
span.refine{
	width: 100%;
}
form.refine{
	width: 90%;
	margin-bottom: 10px;
	padding: 0 5px;
}
button.catDel{
	width: 10px;
	color: white;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
}
body{
	margin: 0px;
	position: relative;
	font-family: mainFont;
	background-image: url("/oecd/images/bg.gif");
}
header, footer {
	height: 80px;
	width: 100%;
	color: black;
}
header{
	background-color: #EBEBEB;
	position: fixed;
	top: 0px;
	display: flex;
	flex-direction: row;
	overflow: auto;
	z-index: 90;
}
ul{
	list-style: none;
}
li{
	float: left;
}
#home{
	width: 30vw;
	min-width: 400px;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px;
}
#logo{
	width: 80%;
	min-height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; 
}
#logoImg{
	width: 100%;
	height: 100%;
	transform-origin: center left;
}
#headerMenu{
	width:70vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#mainMenu{
	width: 75%;
	min-width: 1000px;
	min-height: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
	margin-left: 5px;
}
#mainMenu.scrollDown{
	padding: 0;
}
#mainMenu li{
	width: 20%;
	min-width: 120px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
	font-size: 1.5em;
	border-right: 2px solid black;
}
#mainMenu li:first-child{
	width: 22%;
	border-left: 2px solid black;
}
#mainMenu li:last-child{
	width: 30%;
}
footer{
	background-color: #EBEBEB;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer section{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	min-height: 90vh;
	padding: 0px;
	display: flex;
	flex-direction: row;
}
main.index, nav.bank{
	margin: 80px 0 0 0;
}
main.index{
	padding-bottom: 10vh;
}
nav.bank{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}
nav.bank>p:first-of-type{
	margin-bottom: 0;
}
nav.bank>p:last-of-type{
	margin-top: 0;
}
main > aside {
	flex-grow: 1;
}
main > section {
	flex-grow: 1;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
nav, div.main{
	width: 100%;
	background: white;
}
div.title{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.time{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
div.main{
	display: flex;
	justify-content: space-between;
}
div.link, div.search{
	width: 300px;
	background: #FFC;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.search{
	width: 200px;
	background: white;
}
div.link p{
	font-size: 1.2em;
}
div.link ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}
div.link ul li{
	width: 90%;
	height: 150px;
	margin-bottom: 10px;
	border: 5px solid white;
	border-radius: 20px;
}
div.link ul li.qnia{
	background: red;
}
div.link ul li.mei{
	background: blue;
}
div.link ul li a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
div.link ul li a p.name{
	font-size: 1.5em;
	margin-bottom: 0;
}
div.link ul li a p.desc{
	font-size: 0.9em;
}
div.search p{
	font-size: 1.2em;
}
div.search>p:nth-of-type(1){
	margin-bottom: 0;
}
div.search>p:nth-of-type(2){
	margin-top: 0;
}
table.search{
	width: 90%;
	border: 2px solid black;
}
table.search thead tr td{
	text-align: center;
}
table.search tbody tr td{
	text-align: center;
	border: 2px solid black;
}
table.search tbody tr:nth-child(2n){
	background-color: rgb(255, 255, 224);
}
div.description, div.result{
	width: 800px;
	background: #DDFFDF;
	margin-left: 10px;
	padding: 10px;
}
div.result{
	background: white;
	display: flex;
	flex-direction: column;
	position: relative;
}
div.keyword{
	height: 30px;
	display: flex;
}
input#search{
	width: 30px;
	height: 100%;
	border: 2px solid black;
	padding: 0;
	background-image: url("/oecd/images/search.png");
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}
input.keyword{
	width: 75%;
	height: 100%;
	padding: 0;
	margin-right: 2px;
}
form.clearKeyword{
	position: absolute;
	top: 10px;
	right: 10px;
}
form.clearKeyword input{
	height: 30px;
	font-size: 1em;
}
ul.pages{
	display: flex;
	justify-content: flex-end;
}
ul.pages>li{
	width: 25px;
	text-align: center;
}
ul.pages>li:nth-child(1n+3):nth-last-child(1n+3){
	width: 40px;
}
table.result{
	width: 100%;
	border: 2px solid black;
	font-size: 0.8em;
}
table.result thead tr td, table.result tbody tr td{
	border: 2px solid black;
}
table.result thead{
	background-color: rgb(210, 221, 200);
	text-align: center;
}
td.slim{
	width: 15px;
	text-align: center;
}
td.quarterly{
	background-color: rgb(224, 255, 255);
}
td.monthly{
	background-color: rgb(255, 255, 224);
}
td.checkbox{
	background-color: rgb(226, 237, 227);
}
td.desc p{
	margin: 0;
}
td.desc p:first-of-type{margin-top: 5px;}
td.desc p:last-of-type{margin-bottom: 5px;}
div.modify{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
select.modify{
	margin-left: 5px;
	border: 2px solid black;
}
ul.country{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
ul.country li{
	width: 49.8%;
}
table.country{
	width: 100%;
}
div.selection{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}
section.selection{
	width: 80%;
	display: flex;
}
input.selection{
	border: 2px solid black;
	cursor: pointer;
	border-radius: 5px;
}
input.selection:last-of-type{
	margin-left: 10px;
}
p.selection{
	margin: 0;
	margin-left: 10px;
}
input.submit{
	height: 30px;
	background-color: blue;
	color: white;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2em;
}
div.text{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section.text{
	width: 70%;
	height: 90%;
	display: flex;
	align-items: flex-end;
	/*justify-content: center;*/
}
textarea[name='name'], textarea[name='description']{
	width: 350px;
	height: 100px;
	border: 2px solid black;
	margin-right: 10px;
}

div#gotoCart{
	position: fixed;
	top: 15vh;
	right: 12vw;
	width: 180px;
	height: 150px;
	background: blue;
	opacity: 0.7;
	border: 2px solid yellow;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}
p.cart{
	margin-top: 5px;
	margin-bottom: 5px;
}
div#gotoCart a{
	width: 90%;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: blue;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}
div#gotoCart a span.zh{
	font-size: 1.4em;
}
div#cart:hover, div#gotoCart:hover{
	opacity: 1;
}
button.cart{
	width: 150px;
	height: 50px;
	background-color: white;
	color: #800000;
	border: 0;
	padding: 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	border-radius: 3%;
}
.whiteBack>a, .blueBack>a{
	border: 3px solid #8bc9e1;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8bc9e1;
	font-size: 1.2em;
}
.blueBack>a{
	background: #8bc9e1;
	color: white;
}
.blueBack>a:hover{
	background: white;
	color: #8bc9e1;
}
.whiteBack>a:hover{
	background: #8bc9e1;
	color: white;
}
#top{
	position: fixed;
	bottom: 10px;
	right: 5vw;
	font-size: 1.2em;
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: none;
}
#top a{
	width: 45px;
	height: 45px;
	border: 5px solid white;
	border-radius: 50%;
}
@media screen and (max-width: 1022px){
	main{
		flex-direction: column;
	}
	footer section{
		width: 95%;
	}
	#top{
		right: 10vw;
	}
}
